
<section
  class="bg-gradient-to-br from-slate-950 via-blue-950 to-blue-800  text-white">
  <div
    class="max-w-7xl mx-auto px-6 py-24">

    <div
      class="grid lg:grid-cols-2 gap-14 items-center">


      <div>

        <div
          class="inline-block bg-white/10 px-4 py-2 rounded-full mb-6">

          Trusted Electrical & Solar Experts
        </div>

        <h1
          class="text-5xl lg:text-6xl font-bold leading-tight">

          Powering India With
          Smart Electrical &
          Solar Solutions

        </h1>

        <p
          class="mt-8 text-xl text-blue-100 leading-9">

          Edison Engineering delivers
          industrial, commercial and solar
          energy solutions designed for
          efficiency, safety and sustainability.

        </p>

        <div
          class="mt-10 flex flex-wrap gap-5">

          <a
            routerLink="/contact-us"
            class="bg-white text-blue-800 px-7 py-4 rounded-xl font-semibold hover:bg-gray-100 transition">

            Get Free Quote
          </a>

          <a
            routerLink="/services"
            class="border border-white px-7 py-4 rounded-xl font-semibold hover:bg-white hover:text-blue-800 transition">

            Explore Services
          </a>

        </div>

      </div>


      <div>

        <img
           [src]="imagesource.home.homebanner"
          alt="Solar Energy"
          class="rounded-3xl shadow-2xl w-full h-[500px] object-cover">

      </div>
     
    </div>

  </div>

</section>