<section class="py-20 bg-gray-100">

  <div class="max-w-7xl mx-auto px-6">

    <div class="text-center mb-14">

      <h2 class="text-4xl font-bold mb-4">
        Industries We Serve
      </h2>

      <p class="text-gray-600 text-lg">
        Complete electrical and solar solutions
        for multiple industries.
      </p>

    </div>

    <div
      class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">

      @for (
        industry of industries;
        track industry.slug
      ) {

        <a
          [routerLink]="[
            '/industries',
            industry.slug
          ]"
          class="bg-white rounded-2xl overflow-hidden shadow hover:shadow-2xl transition block">

          <img
            [src]="industry.image"
            [alt]="industry.title"
            class="h-56 w-full object-cover">

          <div class="p-6">

            <h3
              class="text-2xl font-semibold mb-3">

              {{ industry.title }}

            </h3>

            <p class="text-gray-600">

              {{ industry.description }}

            </p>

            <div class="mt-5">

              <span
                class="text-blue-600 font-semibold">

                Explore Solutions →

              </span>

            </div>

          </div>

        </a>
      }

    </div>

  </div>

</section>