<section
  class="py-20">

  <div
    class="max-w-7xl mx-auto px-6">

    <h2
      class="text-4xl font-bold mb-10">

      Installation Process

    </h2>

    <div
      class="grid md:grid-cols-5 gap-6">

      @for (
        item of process;
        track item;
        let i = $index
      ) {

        <div
          class="bg-black text-white rounded-2xl p-6 text-center">

          <div
            class="text-3xl font-bold mb-4">

            {{ i + 1 }}

          </div>

          <div>

            {{ item }}

          </div>

        </div>
      }

    </div>

  </div>

</section>