<section class="py-20 bg-white">

  <div class="max-w-7xl mx-auto px-6">

    <div class="text-center mb-14">

      <h2 class="text-4xl font-bold mb-4">

        Solar Solutions

      </h2>

      <p class="text-gray-600 text-lg">

        Modern solar technologies for industries,
        businesses, and commercial infrastructure.

      </p>

    </div>

    <div
      class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">

      @for (
        solar of solarSolutions;
        track solar.slug
      ) {

        <a
          [routerLink]="[
            '/solar-solutions',
            solar.slug
          ]"
          class="bg-gray-50 rounded-2xl overflow-hidden shadow hover:shadow-2xl transition block">

          <img
            [src]="solar.image"
            [alt]="solar.title"
            class="h-56 w-full object-cover">

          <div class="p-6">

            <h3
              class="text-2xl font-semibold mb-3">

              {{ solar.title }}

            </h3>

            <p class="text-gray-600">

              {{ solar.description }}

            </p>

            <div class="mt-5">

              <span
                class="text-blue-600 font-semibold">

                Explore Solar Solution →

              </span>

            </div>

          </div>

        </a>
      }

    </div>

  </div>

</section>