<header
  class="bg-white shadow-md sticky top-0 z-50">

  <div
    class="max-w-7xl mx-auto px-6">

    <div
      class="flex items-center justify-between h-20">

      <!-- LOGO -->

      <a
        routerLink="/"
        class="text-2xl font-bold text-blue-700">

        Edison Engineering
      </a>

      <!-- DESKTOP MENU -->

    <nav
  class="hidden lg:flex items-center gap-8">

  @for (
    item of menu;
    track item.label
  ) {

    <div class="relative group">

      @if (!item.children) {

        <a
          [routerLink]="item.route"
          class="text-gray-700 hover:text-blue-700 font-medium transition-colors">

          {{ item.label }}

        </a>

      } @else {

        <button
          class="text-gray-700 hover:text-blue-700 font-medium py-2 transition-colors">

          {{ item.label }}

        </button>

        <!-- DROPDOWN -->

        <div
          class="absolute left-0 top-full pt-2 hidden group-hover:block z-50">

          <div
            class="bg-white shadow-xl rounded-xl w-80 p-4 border border-gray-100">

            <div class="space-y-2">

              @for (
                child of item.children;
                track child.label
              ) {

                <a
                  [routerLink]="child.route"
                  class="block p-3 rounded-lg hover:bg-gray-100 transition">

                  {{ child.label }}

                </a>

              }

            </div>

          </div>

        </div>

      }

    </div>

  }

  <!-- CTA -->

  <a
    routerLink="/contact-us"
    class="bg-blue-700 text-white px-5 py-3 rounded-xl hover:bg-blue-800 transition">

    Get Free Quote

  </a>

</nav>

      <!-- MOBILE BUTTON -->

      <button
        (click)="toggleMobileMenu()"
        class="lg:hidden text-3xl">

        ☰
      </button>

    </div>

  </div>

  <!-- MOBILE MENU -->

  @if (mobileMenuOpen) {

    <div
      class="lg:hidden bg-white border-t">

      <div class="p-5 space-y-4">

        @for (
          item of menu;
          track item.label
        ) {

          <div>

            @if (!item.children) {

              <a
                [routerLink]="item.route"
                class="block py-2 text-gray-700">

                {{ item.label }}
              </a>

            } @else {

              <div
                class="font-semibold text-gray-900 mb-2">

                {{ item.label }}
              </div>

              <div
                class="pl-4 space-y-2">

                @for (
                  child of item.children;
                  track child.label
                ) {

                  <a
                    [routerLink]="child.route"
                    class="block text-gray-600">

                    {{ child.label }}
                  </a>
                }

              </div>
            }

          </div>
        }

      </div>

    </div>
  }

</header>